---
layout: default
---

<header>
  <h1 class="post-title">{{ page.title }}</h1>
</header>
<div class="content">
  {% include post-meta.html post=page %}

  <div class="post-body">
    {{ content }}
    <br/>
    {% include post-tags.html post=page %}
  </div>
  <br/>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <ins class="adsbygoogle"
       style="display:block; text-align:center;"
       data-ad-layout="in-article"
       data-ad-format="fluid"
       data-ad-client="ca-pub-7593661227946185"
       data-ad-slot="1704507028"></ins>
  <script>
       (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

  {% include related_posts.html %}
  {% include comments.html %}
</div>
